body{
    height: 100vh;
    background-color: black;

    margin: 0;
    padding: 0;
}

span{
    width: 100px;
    height: 100px;
    background: url(https://cdn3.iconfinder.com/data/icons/basicolor-votting-awards/24/210_vote_like_up_upvote-256.png);
    background-size: cover;

    pointer-events: none;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    animation: animate 7s linear;
}

@keyframes animate {
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}